.hr-line {
    max-width: 800px;
    align-content: center;
    margin: 0px auto;
    padding: 0;
    height: 0;
    border: none;
    border-top: 2px solid $color-darkgray;
}

p,
h1 {
    margin-bottom: 0px;
}